h1 {
    padding-bottom: 20px;
    font-size: 500%;
    text-align: center;
    font-family: Garamond;
    color: #4b0b0b;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}

div {
    /*padding-left: 20%;
    padding-right: 20%;*/
    padding-top: 50px;
}

body{
    background:url("parchmentPaper.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:auto;
}

.custom_button:hover{
    filter: brightness(80%);
    transform: scale(0.9);
}
.custom_button:active{
    filter: brightness(120%);
}