<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&display=swap");
  </style>

  <body>
    <!--ADD VERSION NUMBER HERE BEFORE PUSH-->
    <div class="centerbox">{% block content %}{% endblock %}</div>
    <div class="version">
      {% if user.is_authenticated %}
      <p>User: {{ user.id }}</p>
      {% endif %}
      <b>Version number: 1.0.2</b>
    </div>
  </body>
</html>
