{% extends "base_generic.html" %}{% block content %} {% load static %}
{% load compress %}
        {% compress js %}
        <script type="module" src="{% static 'game_canvas.js' %}"></script>
        {% endcompress %}
<a href="{% url 'home' %}">
    <img class="logo" src="../static/css/logo.png" />
</a>
<link rel="stylesheet" href="{% static 'css/board.css' %}" />
<meta charset="utf-8" />


<div id="board"></div> 

  <input id="state" name="state" value="{{state}}" type="hidden"/>
  <input id="game-id" name="id" value="{{id}}" type="hidden" />
  <input id="player-id" name="pid" value="{{ playerid }}" type="hidden" />
  <input id="player-turn" name="turn" value="{{ turn }}" type="hidden" />




<form action="{% url 'win' %}" method="POST" style="display: none;">
  {% csrf_token %}<p ><button type="win">Win</button></p>
</form>

<form action="{% url 'lose' %}" method="POST" style="display: none;">
  {% csrf_token %}<p><button type="lose">Lose</button></p>
</form>


</div>
{% endblock %}