{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/board.css' %}" />
<meta charset="utf-8" />
<p style="display:none" >{{state}}</p>
{{ board|safe }}
<form action="{% url 'make_move' %}" method="POST">
  <select name="player"> 
    <option value="1">Player 1</option>
    <option value="2">Player 2</option>
    <option value="3">Player 3</option>
    <option value="4">Player 4</option>
  </select>
</br></br>  
  {% csrf_token %} Make a Move: <input name="tile" pattern="[a-z]{1}[1-9]{1}" minlength="2" maxlength="2" required/>
  <input name="state" value="{{state}}" type="hidden" />
  <input name="board" value="{{board|safe}}" type="hidden" />

  <p></p>
  <p><button type="submit" >Submit</button></p>
</form>
<canvas width="320" height="240">
  <p>Your browser doesn't support canvas. Boo hoo!</p>
</canvas>

{% endblock %}
