{% extends "base_generic.html" %}{% block content %}
<!--  -->
{% load static %} {% load compress %} {% compress js %}
<script type="module" src="{% static 'game_canvas.js' %}"></script>
{% endcompress %}
<a href="{% url 'home' %}">
  <h3>Go Back to Home</h3>
</a>
<link rel="stylesheet" href="{% static 'css/board.css' %}" />
<meta charset="utf-8" />
<p style="display: none">{{id}}</p>
<p style="display: none">{{state}}</p>

<div id="container">
  <div id="board"></div>
  <div id="forms">
    <form action="{% url 'debug' %}" method="POST">
      {% csrf_token %}
      <input id="state" name="state" style="width: 400px" value="{{state}}" />
      <br />horzontal walls / vertical walls / player pieces / available walls
      per player / active player
      <input id="game-id" name="id" value="{{id}}" type="hidden" />
      <input id="player-id" name="id" value="{{ user.id }}" type="hidden" />

      <input name="player2" value="{{player2}}" type="hidden" />
      <p></p>
      <p><button type="submit">Submit</button></p>
    </form>
  </div>
</div>
{% endblock %}
