<body>
  <h1>Board State Decoder</h1>
  <p>Please insert the board state using the following notation:</p>
  <code> Horizontal Walls / Vertical Walls / Player Pieces / Walls Remaining by Player / Which Player's Turn?</code>
  <h4>Example:</h4> 
  <code>d4f4e7 / a2a8 / e4 e6 a4 h6 / 4 3 5 3 / 3</code>
  <h5>Explanation:</h5>
  <p>Horizontal Wall at D4</br>Horizontal Wall at F4</br>Horizontal Wall at E7</p>
  <p>Vertical Wall at a2</br>Vertical Wall at a8</p>
  <p>Player 1 is at E4</br>Player 2 is at E6</br>Player 3 is at A4</br>Player 4 is at H6</p>
  <p>Player 1 has 4 walls remaining</br>Player 2 has 3 walls remaining</br>Player 3 has 5 walls remaining</br>Player 4 has 3 walls remaining</p>
  <p>It is Player 3's turn.</p>
  
  <h2>Demo</h2>
  <p>
      <form action="{% url 'game_board' %}" method="POST">
          {% csrf_token %}
          Game State: <input name="state" value="/ / e1 a5 e9 i5 / 10 10 10 10 / 1"> <p>
          <p><button type="submit">Submit </button>
      </form>
</body>