{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<body>
    <h1>Quoridor Online</h1>
    
    <games>
        <div>
            <a href = "{% url 'getUser' %}"><img class = "custom_button" src="../static/css/StartGameButton.png" height ="170" width="450" align="left"/></a>
            <a  href = "{% url 'getUser' %}"><img class = "custom_button" src="../static/css/JoinGameButton.png" height ="170" width="450" align="right"/></a> 
        </div>
    </games>
</body>