{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<body>
    <h1>Quoridor Online</h1>
    
    <div class="flex-container">
        <div>
            <a href = "{% url 'getUser' %}"><img class = "custom_button" src="../static/css/StartGameButton.png" height ="25%" /></a>
        </div>
        <div>
            <a  href = "{% url 'getUser' %}"><img class = "custom_button" src="../static/css/JoinGameButton.png" height ="25%" /></a> 
        </div>
    </div>
</body>