{% extends "base_generic.html" %}{% block content %} {% load static %}
{% load compress %}
        {% compress js %}
        <script type="module" src="{% static 'queue.js' %}"></script>
        {% endcompress %}
<form action="{% url 'new_game' %}" name="sbmt" id="sbmt" method="POST">

    </br></br>
    <input id="player-id" name="id" value="{{player_id}}" type="hidden" />
    <input id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}" type="hidden" />
    <input id="game-id" name="game-id" value="" type="hidden" />
    {% csrf_token %}
    <p></p>
    <p></p>
</form>
{% endblock %}